*{
    padding: 0%;
    margin: 0%;
}

body {
    background-repeat: repeat-x;
    background-position-x: left;
    overflow: hidden;
  }
html{
    width: 100%;
    height: 100%;
}

header{
    background-color: rgba(254,205,26,255);
    height: 50px;
    position: relative;
    z-index: 5;
}

#boton-home{
    height: 0px;
    border: 0px;
}

.botton-header{
    width: 110px;
    float: right;
    border: 0;
    background-color: rgba(254,205,26,255);
    color: white;
    font-size: 25px;
    padding-top: 5px;
}

.botton-header:hover{
    background-color: rgba(239, 196, 41, 255);
}

#texto {
    font-family: lato;
    color: rgba(130, 130, 130, 255);
    justify-content: center;
    text-align: center;
    letter-spacing: 3px;
    padding-left: 920px;
  }
  
h3{
    padding-top: 5px;
    font-weight: 600;
}

#titulo{
    color:rgba(98, 213, 221, 0.92);
    font-family: lato;
    display: flex;
  justify-content: center;
  padding-left: 920px;
  padding-top: 70px;
}

#image{
    position: absolute;
top: 5%;
z-index: 2;
}

#flowers{
    position: absolute;
bottom: 0%;
z-index: 1;
transform-origin: bottom left;
animation: mover 1s infinite;
}

@keyframes mover{
    0%{
        transform: translateX(1px);
    }  
    100%{
        transform: translateX(-1px);
    }   
  }
#logo{
    position: absolute;
    bottom: 0%;
    left: 40%;
}

#abeja{
    position: absolute;
    bottom: 20%;
    left: 73%;
}

.avion {
    width: 2000px;
    height: 600px;
    background-image: url('../Assets/abeja_carge.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 17%;
    animation: vuelo 2s forwards;
  }
  
  @keyframes vuelo {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-23%);
      }
  }

  #abeja{
    top: 60%;
    opacity: 0;
    animation: vuelo2 2s forwards; 
    animation-delay: 2s;
  }

  @keyframes vuelo2{
    0% {
        opacity: 1;
        transform: translateX(200%);
      }
      100% {
        transform: translateX(40%);
        opacity: 1;
      }
  }

  #correo:hover{
    color:rgba(0, 132, 255, 0.92);
  }

  #botones{
    padding-top: 4px;
  }