
@font-face {
  font-family: lato;
  src: url("../Fonts/Lato-BlackItalic.ttf");
}

@font-face {
  font-family: Sensei;
  src: url("../Fonts/Sensei-Medium.ttf");
}

@font-face {
  font-family: League Spartan;
  src: url("../Fonts/LeagueSpartan-VariableFont_wght.ttf");
}
header{
  width: 100%;
  height: 9%;
  background-color: rgba(254,205,26,255);
}

.botton-header{
  width: 10%;
  height: 100%;
  float: right;
  border: 0;
  background-color: rgba(254,205,26,255);
  color: white;
  font-family: lato;
  font-size: 22px;
}

.botton-comenzar{
  font-family: League Spartan;
  font-weight:bold;
  font-size: 58px;
  width: 500px;
  background-color:  rgb(189, 43, 43);
  color: rgb(204, 255, 0);
  border-radius: 10px;
}

.boton-casa{
  width: 80px;
  height: 100%;
  margin-top: -0.2%;
  background-color: rgba(254,205,26,255);
  border: 0;
  
}

.txt-titulos-cuen {
  font-family: Sensei;
  font-weight:bold;
  font-size: 60px;
  text-align: center;
  color:  white;
  src: url("../Fonts/Sensei-Medium.ttf");
}

.txt-biblia-cuen {
  font-family: League Spartan;
  font-weight: normal;
  font-size: 28px;
  color:  white;
  src: url("../Fonts/LeagueSpartan-VariableFont_wght.ttf");
}


@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50%{
        transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.anim:hover{
    animation: zoom-in-zoom-out 2s ease infinite;
}

#fondocuentos{
  background: url(../Images/cieloestre.jpg);
  background-size: cover;
  background-position: center;
}

#fondoc1{
  background: url(../Images/praderaymontanas.jpg);
  background-size:contain;
  background-position: center;
}

#fondoc2{
  background: url(../Images/cieloestre.jpg);
  background-size: cover;
  background-position: center;
}

#fondoc3{
  background: url(../Images/cieloestre.jpg);
  background-size: cover;
  background-position: center;
}

#fondoc4{
  background: url(../Images/cieloestre.jpg);
  background-size: cover;
  background-position: center;
}

#fondoc5{
  background: url(../Images/cieloestre.jpg);
  background-size: cover;
  background-position: center;
}



