.texto-ini{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight:bold;
    color: #a6a6a6;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50%{
        transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.anim:hover{
    animation: zoom-in-zoom-out 2s ease infinite;
}